//auth
.text-with-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.text-with-lines::before,
.text-with-lines::after {
  content: '';
  flex: 1;
  height: 1px;
  margin: 0 10px;
  @apply bg-darkGray;
}
