//chat farmerImage
@keyframes flash {
  0%,
  100% {
    border-color: transparent;
  }
  28% {
    border-color: #fee26b;
  }
  56% {
    border-color: #de3c2b;
  }
  98% {
    border-color: #47835a;
  }
}

.flashing-border {
  display: inline-block;
  border-radius: 50%;
  animation: flash 4s infinite;
  border: 3px solid transparent;
}

//chat peopleCount
@keyframes flipAnimation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.flip-animation {
  display: inline-block;
  animation: flipAnimation 1s forwards;
}
