@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
.hover-trigger {
  position: relative;
  display: inline-block;
}

.hover-trigger:hover .hover-target {
  opacity: 0.5;
}

.hover-target {
  transition: opacity 0.4s ease;
  transform: scale(0);
  transform-origin: center;
}

.hover-trigger:hover .hover-target {
  transform: scale(1);
}

@keyframes shake {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
.group:hover .group-shake {
  animation: shake 0.5s ease-in-out;
}

.shake :hover {
  animation: shake 0.5s ease-in-out;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes shiny {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}
.shiny-button {
  position: relative;
  border: none;
  padding: 16px 24px;
  overflow: hidden;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.6) 70%, transparent);
  background-size: 200% 100%;
  animation: shiny 2s linear infinite;
  @apply bg-primary-yellow;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.dropdown-enter {
  animation: slideDown 0.3s ease forwards;
}

.dropdown-exit {
  animation: slideUp 0.3s ease forwards;
}

.swiper {
  width: 100%;
  height: 100%;
}

.bg-friendlyFarmBG {
  background-position: top center;
}

.homeSwiper .swiper {
  width: 100%;
  height: 100%;
}

.homeSwiper .swiper-slide {
  width: 378px;
}
.homeSwiper .swiper-slide img {
  width: 378px;
  height: 282px;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeSwiper .swiper-wrapper {
  transition-timing-function: linear;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
.logo-shake {
  animation: shake 1s infinite;
}

.ellipse {
  width: 150px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @apply bg-primary-yellow bg-opacity-50;
}

.product-card-enter {
  opacity: 0;
}

/* 淡入效果 */
.product-card-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}

/* 淡出效果 */
.product-card-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}

@layer base {
  body {
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;
    @apply tracking-widest text-mediumGray;
  }
  h1 {
    @apply text-40 font-bold;
  }
  h2 {
    @apply text-32 font-bold;
  }
  h3 {
    @apply text-28 font-bold;
  }
  h4 {
    @apply text-24 font-bold;
  }
  h5 {
    @apply text-20;
  }
  h6 {
    @apply text-18 font-bold;
  }
  img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  a {
    @apply block;
  }
}
@layer utilities {
  .custom-background {
    background-image: url("/images/productShop/seasonalBG.png"), linear-gradient(to bottom, #fde047, #fde047);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
  }
}
.text-with-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.text-with-lines::before,
.text-with-lines::after {
  content: "";
  flex: 1;
  height: 1px;
  margin: 0 10px;
  @apply bg-darkGray;
}

.cartlist li:not(:last-child) {
  @apply border-b border-lightGray;
}

.form-transition {
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.7s ease, visibility 0.7s;
}

.form-closed {
  max-height: 50px;
  opacity: 0;
  visibility: hidden;
}

.form-open {
  max-height: 530px;
  opacity: 1;
  visibility: visible;
}

@keyframes shinyScaleEffect {
  0% {
    transform: scale(1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: scale(1.3);
    text-shadow: 0px 0px 8px rgba(254, 226, 107, 0.7);
  }
  100% {
    transform: scale(1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.shiny-scale-effect {
  animation: shinyScaleEffect 3s infinite ease-in-out;
  @apply text-primary-red;
}

.react-datepicker-wrapper {
  width: 100%;
}/*# sourceMappingURL=globals.css.map */