@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'chat.scss';
@import 'auth.scss';
@import 'live.scss';
@import 'header.scss';
@import 'productShop';
@import 'datepicker.scss';
@import 'landingPage.scss';
@layer base {
  body {
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;
    @apply tracking-widest text-mediumGray;
  }

  h1 {
    @apply text-40 font-bold;
  }
  h2 {
    @apply text-32 font-bold;
  }
  h3 {
    @apply text-28 font-bold;
  }
  h4 {
    @apply text-24 font-bold;
  }
  h5 {
    @apply text-20;
  }
  h6 {
    @apply text-18 font-bold;
  }
  img {
    object-fit: cover;
  }
  a {
    @apply block;
  }
}

//cart
.cartlist li:not(:last-child) {
  @apply border-b border-lightGray;
}
