.hover-trigger {
  position: relative;
  display: inline-block;
}

.hover-trigger:hover .hover-target {
  opacity: 0.5;
}

.hover-target {
  transition: opacity 0.4s ease;
  transform: scale(0);
  transform-origin: center;
}

.hover-trigger:hover .hover-target {
  transform: scale(1);
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.group:hover .group-shake {
  animation: shake 0.5s ease-in-out;
}

.shake :hover {
  animation: shake 0.5s ease-in-out;
}

.iframe-container {
  position: relative;
  width: 100%;
  // padding-bottom: 56.25%;
  height: 100%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes shiny {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-button {
  position: relative;
  border: none;
  padding: 16px 24px;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.6) 70%,
    transparent
  );
  background-size: 200% 100%;
  animation: shiny 2s linear infinite;
  @apply bg-primary-yellow;
}

//fixedHeader
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

//navbar 下拉式選單
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.dropdown-enter {
  animation: slideDown 0.3s ease forwards;
}

.dropdown-exit {
  animation: slideUp 0.3s ease forwards;
}
