//banner
.swiper {
  width: 100%;
  height: 100%;
}

//landingPage friendlyFarmSection background
.bg-friendlyFarmBG {
  background-position: top center;
}

//homeSwiper
.homeSwiper .swiper {
  width: 100%;
  height: 100%;
}

.homeSwiper .swiper-slide {
  width: 378px;
  & img {
    width: 378px;
    height: 282px;
    object-fit: cover;
  }
}
.homeSwiper .swiper-wrapper {
  transition-timing-function: linear;
}

//livingShowSection LogoImg
@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.logo-shake {
  animation: shake 1s infinite;
}
